<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Sacramento Coalition for Digital Inclusion">
  <meta name="author" content="The Sacramento Coalition for Digital Inclusion is focused on creating more opportunities for digital equity in the Greater Sacramento Region.">
  <link rel="icon" type="image/x-icon" href="/favicon.png" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@innovatesac" />
  <meta name="twitter:creator" content="@innovatesac" />
  <meta property="og:url" content="https://digitalinclusionsac.org/" />
  <meta property="og:title" content="Sacramento Coalition for Digital Inclusion" />
  <meta property="og:description" content="The Sacramento Coalition for Digital Inclusion is focused on creating more opportunities for digital equity in the Greater Sacramento Region." />
  <meta property="og:image" content="https://digitalinclusionsac.org/img/social-card.jpg" />

  <title>Sacramento Coalition for Digital Inclusion</title>

  <!-- Font Awesome Icons -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Theme CSS - Includes Bootstrap -->
  <link href="css/styles.css" rel="stylesheet">

  <!-- Custom CSS - Override the defaults! -->
  <!-- <link href="css/custom.css" rel="stylesheet"> -->

</head>