<!-- Masthead -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-10 align-self-end">
        <h1 class="text-uppercase text-white font-weight-bold">{{ site.title }}</h1>
        <hr class="divider my-4">
      </div>
      <div class="col-lg-8 align-self-baseline">
        <p class="text-white-75 font-weight-light mb-5">The Sacramento Coalition for Digital Inclusion is focused on creating more opportunities for digital equity in the Greater Sacramento Region.</p>
        <a class="btn btn-primary btn-xl js-scroll-trigger" target="_blank" href="/pdf/SCDI-Preliminary-Report-Sept-2019.pdf"> <i class="fas fa-file-pdf"></i> Read the Report</a>
      </div>
    </div>
  </div>
</header>

<!-- About Section -->
<section class="page-section bg-primary" id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">3 in 4 new jobs require high or medium digital skills</h2>
        <hr class="divider light my-4">
        <p class="text-light mb-4">But residents of color are underrepresented in these high paying opportunities</p>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="#plan">Let's change that</a>
      </div>
    </div>
  </div>
</section>

<!-- Plan Section -->
<section class="page-section" id="plan">
  <div class="container">
    <h2 class="text-center mt-0">Together, we're developing a Digital Inclusion Plan for Sacramento</h2>
    <hr class="divider my-4">
    <p class="text-center text-muted mb-5">The SCDI Plan will focus on specific outputs that target identified community needs and create meaningful technology opportunities in the lives of our region’s residents.</p>
    <h2 class="text-center mt-0">Our Strategies</h2>
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-globe text-primary mb-4"></i>
          <h3 class="h4 mb-2">Internet Access</h3>
          <p class="text-muted mb-0">Enhanced public computing labs and awareness of low-cost home subscription options</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-laptop text-primary mb-4"></i>
          <h3 class="h4 mb-2">Computing Devices</h3>
          <p class="text-muted mb-0">Free laptop and desktop computers through surplus equipment refurbishing partnerships</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-code text-primary mb-4"></i>
          <h3 class="h4 mb-2">Digital Skills</h3>
          <p class="text-muted mb-0">Increased learning opportunities for youth, adults, and seniors through relevant training programs</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Resources Section -->
<section class="page-section bg-secondary" id="resources">
  <div class="container">
    <h2 class="mb-4 text-center text-white">SCDI is Open by Default</h2>
    <hr class="divider light my-4">
    <p class="text-center text-white mb-5">Here are some of the resources informing development of the SCDI Plan:</p>
    <div class="row row-grid">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <i class="fas fa-hdd fa-3x mb-3 text-secondary"></i>
              <h5 class="card-title">Document Folder</h5>
              <p class="card-text">We're sharing all of the relevant documents related to the SCDI Plan in public Google Drive folder.</p>
              <a href="https://drive.google.com/open?id=19zFsCzuMKNkdgRHKMDJKfOKG3JaIHpkZ" class="btn btn-xl btn-secondary" target="_blank">View Docs <i class="fas fa-external-link-alt"></i></a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <i class="fas fa-map-marked-alt fa-3x mb-3 text-secondary"></i>
              <h5 class="card-title">Census Data Map</h5>
              <p class="card-text">We created a map to show where households own computers and subscribe to broadband.</p>
              <a href="https://saccity.maps.arcgis.com/apps/View/index.html?appid=90abd5fecb3b4f65b1d29e14976e1e20" class="btn btn-xl btn-secondary" target="_blank">Launch Map <i class="fas fa-external-link-alt"></i></a>
            </div>
          </div>
        </div>
      </div>

  </div>
</section>

<!-- Get Involved Section -->
<section class="page-section" id="get-involved">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0">Join the Coalition</h2>
        <hr class="divider my-4">
        <p class="text-muted mb-5">SCDI is led by the Sacramento Public Libary, City of Sacramento, Valley Vision, and Social Venture Partners (SVP) of Sacramento.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
        <i class="fas fa-users fa-4x mb-3"></i>
        <a class="d-block" href="#">Join Us</a>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fas fa-envelope fa-4x mb-3"></i>
        <a class="d-block" href="mailto:scdi@innovatesac.org">Contact Us</a>
      </div>
    </div>
    <div class="text-center my-4">
      <a href="https://www.digitalinclusion.org/" target="_blank"><img src="img/ndia_250px.png" height="auto" width="150"></a>
    </div>
  </div>
</section>